/* .calculater {
    align-self: center
}
table {
    margin: auto;
}
input[type="button"] 
{ 
    background-color:lightgreen; 
    color: black; 
    border: solid black 2px; 
    width:100% 
} */

.calc-screen {
    width: 100%;
    height: 100%;
    background-color: black;
}

.calc {
    width: 100%;
    height: 100%;
    position: fixed;
    /* top : 5%; */
    /* left: 10%; */
    /* padding: 10px; */
    background-image: url("../images/calc1.jpg");
    background-color: black;
}
.main-calc {
    /* width: 30%; */
    /* height: 80%; */
    max-width: 307;
    margin: auto;
    margin-top: 10%;
    background-color: white;
    border-radius: 5px;
}

#result {
    height: 10%;
    font-size: 30px;
    font: bold;
    border: 5px;
    text-align: right;
}

#empty {
    color: white;
}
.operator, .number, .empty {
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 16px;
    font-family: cursive;
}

.number, .empty {
    background-color: white;
}

.number, .operator {
    cursor: pointer;
}

button:nth-child(4) {
    /* font-size: 20px; */
    background-color: F33B25;
}
button:nth-child(8) {
    /* font-size: 20px; */
    background-color: E1F35A;
}
button:nth-child(12) {
    /* font-size: 20px; */
    background-color: E65F17;
}
button:nth-child(16) {
    /* font-size: 20px; */
    background-color: 3F6F07;
}
button:nth-child(20) {
    /* font-size: 20px; */
    background-color: 145F96;
}
.keys {
    margin-left: 20px;
}
.result {
    color: black;
    font-size: 15px;
}
input[type="text"] 
{ 
    width: 100%;
    height: 20%;
    padding: 20px;
    
}